* {
    margin 0;
    padding 0;


}



/*ETIQUETAS*/
header {
    background-color: navajowhite;
}

a {
    width: 100px;
    height: 100px;
}


h1 {
    padding-top: 70px;
}

h3 {
    color: black;
    padding-left: 5px;
    padding-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;

}


h4 {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

H5 {
    padding-left: 1000px;
    color: white;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: black;
    font-size: 15px;

}

/*CLASES*/

.logo {
    width: 300px;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20vh;
    
}

.navbar {
    display: inline;
    padding-left: 120px;
    padding-top: 20vh;
    padding-bottom: 20vh;
    text-align: center;
    font-family: Spinnaker, Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    font-variant: normal;


}

.enlace {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin: 30px;
    text-align: center;
    color: black;
}

.imginicio {
    width: 400px;
    height: 400px;
    image-resolution: 1920px;
}


.imgprod {
    width: 400px;
    height: 400px;
    image-resolution: 1920px;
}

.liprecios {
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
}

.textfotos {
    color: blueviolet;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.footers {
    background-color: navajowhite
}

.pfoot {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.titleparrafos {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.textpres {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.li {
    padding-bottom: 30px;
    font-size: 20px;

}

.ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.ulinicio {
    list-style: none;
    padding-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.titulocontacto {

    color: white;
}

.formulario {
    color: white;
    background-color: gray;
}

.formu {
    color: black
    
}

.Porfolio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
    font-size: 20px;
    padding-left: 800px
}

.fondo {
    background-color: white;
}

.inicio {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
    font-size: 20px;
}


/****ID****/
#logoinsta {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
    border: 1px;
    top: 40px;
    left: 40px;
    
}

#logows {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
    border: 1px;
    top: 70px;
    left: 70px;
    

}

#quinces {
    font-size: 10px;

    color: blueviolet;
}

#sesiones {
    font-size: 10px;

}

#Bodas {
    font-size: 10px;

}

#parrafos {
    font-size: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#primerh3 {
    padding-top: 60px;
}


#footer {
    font-size: 20px;
    text-align: center;
}

#main {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-top: 40px;

}
/* GRID*/
.grid-conteiner{ 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        overflow-x: auto;
        background-color: #F5F5DC;
}

.galery-img{
    width: 500px;
    height: 300px;
    object-fit: contain;
}
.titlegaleria {
    position: absolute;
    bottom: 0;
    color: white;
    background: #333;
    width: 100%;
    margin: 0;

}
.galery-item{
    position: relative;
}
.redesfooter{
    display: flex;
    display: inline;
    align-items:center ;

}

/* RESPONSIVE PRECIO*/

@media screen and (max-width:600px) {
    .grid-conteiner{ 
        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
       
        width: 100%;
        overflow-x: auto;
       
        .galery-img{
            width: 300px;
            height: 200px;
            object-fit: contain;
        }  
}
.navbar {
    text-align: center;
    padding-left: 5px;
    display:block;   
    padding-top: 10px; 
    padding-bottom: 10px;     
     font-size: 10px;
     text-align: center;
     font-family: Spinnaker, Arial, Helvetica, sans-serif;
     color: rgba(0, 0, 0, 1);
     font-weight: normal;
     font-style: normal;
     text-decoration: none;
     text-transform: uppercase;
     font-variant: normal;
     overflow: hidden;
      
 
 
 }
 .enlace {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
    text-align: center;
    color: black;
}
a {
    width: 100px;
    height: 100px;
}
.ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.logo {
    width: 300px;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center;    
}

 .fondo {
    background-color: gray;
}

.pfoot {
    font-size: 10px;
    text-align: center;
   
    
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#footer {
    font-size: 10px;
    text-align: center;
}
.Porfolio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #8A2BE2;
    font-size: 20px;
    padding-left:250px
}

h3 {
    text-align: center;
    color: black;
    padding-left: 200px
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;

}
h2{
    font-size: 15px;
    text-align: center;
}
.redesfooter{
    display: flex;
    display: inline;
    align-items:center ;

}
}

@media screen and (max-width:320px) {
    .grid-conteiner{ 
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        width: 100%;
        overflow-x: auto;
}
.galery-img{
    width: 300px;
    height: 200px;
    object-fit: contain;
}
.Porfolio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #8A2BE2;
    font-size: 10px;
    padding-left:140px
}
h3 {
    text-align: center;
    color: black;
    padding-left: 200px
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5px;
    text-align: center;

}
h2{
    font-size: 15px;
    text-align: center;
}
#logows{
    width: 20px;
    height: 24px;
}
#logoinsta{
    width: 20px;
    height: 21px;
   
}
.redesfooter{
    display: flex;
    display: inline;
    align-items:center ;

}
.navbar {
    text-align: center;
    padding-left: 5px;
    display:block;   
    padding-top: 6px; 
    padding-bottom: 10px;     
     font-size: 10px;
     text-align: center;
     font-family: Spinnaker, Arial, Helvetica, sans-serif;
     color: rgba(0, 0, 0, 1);
     font-weight: normal;
     font-style: normal;
     text-decoration: none;
     text-transform: uppercase;
     font-variant: normal;
     overflow: hidden;
      
 
 
 }

 .fondo {
background-color: rgb(35, 139, 139);
 }
    
/* RESPONSIVE CONTACTO*/
#parrafos{
    font-size: 15px;
}
.contactoimg{
    width: 100%;
}