.footers {
    background-color:#adb5bd;
    color: white;
}

#h1footer {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;

    @include tablet {
        display: flex;
        justify-content: center;
        font-size: 15px;
        color: white;
    }
    @include mobile {
        display: flex;
        justify-content: center;
        font-size: 15px;
        color: white;
    }
}

h1 {
    color: black;
    padding-left: 5px;
    padding-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;

    @include tablet {
        color: black;
        padding-left: 5px;
        padding-top: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        text-align: center;
    }
    @include mobile {
        color: black;
        padding-left: 5px;
        padding-top: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        text-align: center;
    }

}

h2 {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 5px;

    @include tablet {
        text-align: center;
        text-decoration: underline;
        color: black;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    @include mobile {
        text-align: center;
        text-decoration: underline;
        color: black;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 5px;
    }
}

h3 {
    color: black;
    padding-left: 5px;
    padding-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;

    @include tablet {
        color: black;
        padding-left: 5px;
        padding-top: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        text-align: center;
    }
    @include mobile {
        color: black;
        padding-left: 5px;
        padding-top: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 5px;
        text-align: center;
    }
}

.porfolioconteiner {
    display: flex;
    justify-content: space-around;
    font-size: 15px;

    @include tablet {
        display: flex;
        justify-content: space-around;
    }
    @include mobile {
        display: flex;
        justify-content: space-around;
    }
}

.pfoot {
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    @include tablet {
        font-size: 10px;
        text-align: center;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    @include mobile {
        font-size: 10px;
        text-align: center;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

#logoinsta {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
    border: 1px;
    top: 40px;
    left: 40px;
    @include mobile {
        width: 20px;
        height: 21px;
        margin-bottom: 12px;
        padding-left: 18px
    }


}

#logows {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
    border: 1px;
    top: 70px;
    left: 70px;
    @include mobile {
        width: 20px;
        height: 24px;
    }

}

.redesfooter {
    display: flex;
    display: inline;
    align-items: center;

    @include tablet {
        display: flex;
        display: inline;
        align-items: center;
    }
    @include mobile {
        display: flex;
        display: inline;
        align-items: center;
    }

    a {
        width: 15px;
        height: 60px;
        @include tablet {
            width: 57px;
            height: 18px;
        }
        @include mobile {
            width: 57px;
            height: 18px;
        }
    }
}