.grid-conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    overflow-x: auto;
    background-color: #F5F5DC;
@include tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    overflow-x: auto;
}
@include mobile {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
    overflow-x: auto;
}
   
    .galery-item {
        position: relative;
       
       
        .titlegaleria {
            position: absolute;
            bottom: 0;
            color: white;
            background: #333;
            width: 100%;
            margin: 0;
        }
        .galery-img {
            width: 329px;
            height: 232px;
            object-fit: contain;
            @include tablet {
                width: 300px;
                height: 200px;
                object-fit: contain;
            }
            @include mobile {
                width: 300px;
                height: 200px;
                object-fit: contain;
            }
           
           
        }
    }
}


   