body {
font-family: "calibri";
}

header {
    background-color: #1b4332;
    width: 100%;
    clear: both;
    content: ""; 
    display: table;
}



.imglogo {
    width: 900px;
    margin: 0 auto;

    @include mobile {
        width: 900px;
        margin: 0 auto;
    }

    @include tablet {
        width: 900px;
        margin: 0 auto;

    }

    .logo {
        width: 120px;
        height: 50px;
        float: left;
        padding: 8px;


        @include tablet {

            width: 120px;
        }

        @include mobile {
            width: 120px;
        }


    }
}
nav {
    float: right;
}
nav ul li {
    list-style: none;
    margin-left: 25px;
    padding: 25px 0;
    float: left;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

