.fondoquinces {
    background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
}
.imglogo {
    display: flex;
    align-items: center;
    @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo {
        display: flex;
        justify-content: center;
        width: 259px;
        height: 242px;
        padding-top:  20px;
        padding-bottom: 10px;
        @include tablet {
            display: flex;
            width: 300px;
            height: 300px;
            padding-top: 20px;
            padding-bottom: 10px;
            align-items: center;
        }
    
    }
}
