.btn {
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #0c2c4d;
    text-shadow: 0 1px 0 rgba(34, 81, 170, 0.027);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);



   .btn-beige {
        color: rgb(53, 92, 197);
        background-color: white;
    }

    .btn-beige:hover {
        background-color: #ced4da;
    }

   .btn-beige:active {
        background-color: #8bbcec;
    }


}