.btn {
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    text-shadow: 0 1px 1px rgb(0, 0, 0);

    @include tablet {
        border-radius: 3px;
        display: inline-block;
        padding: 4px, 16px, 0px, 10px;
        text-decoration: none;
        text-shadow: 0 1px 0 rgb(255, 255, 255);
        text-shadow: 0 1px 1px rgb(0, 0, 0);
        text-align: center;
    }

    @include mobile {
        border-radius: 3px;
        display: inline-block;
        padding: 10px 3px;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255);
        text-shadow: 0 1px 1px rgba(0, 0, 0);
        text-align: center;
    }

    .btn .btn-beige {
        color: white;
        background-color: #495057;
    }

    .btn .btn-beige:hover {
        background-color: #ced4da;
    }

    .btn .btn-beige:active {
        background-color: #343a40;
    }
}