* {
  margin: 0;
  padding: 0;
}
/*boton*/
.btn {
  border-radius: 3px;
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  text-shadow: 0 1px 1px rgb(0, 0, 0);
}
@media screen and (max-width: 600px) {
  .btn {
    border-radius: 3px;
    display: inline-block;
    padding: 4px, 16px, 0px, 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    text-shadow: 0 1px 1px rgb(0, 0, 0);
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .btn {
    border-radius: 3px;
    display: inline-block;
    padding: 10px 3px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    text-shadow: 0 1px 1px rgb(0, 0, 0);
    text-align: center;
  }
}
.btn .btn .btn-beige {
  color: white;
  background-color: #495057;
}
.btn .btn .btn-beige:hover {
  background-color: #ced4da;
}
.btn .btn .btn-beige:active {
  background-color: #343a40;
}
/*formulario*/
.formulario {
  color: white;
  background-color: gray;
  border: solid 1%;
}
.formulario .formu1 {
  color: black;
}

header {
  background-color: white;
}

.fondoquinces {
  background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
}
/*logo*/
.imglogo {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 320px) {
  .imglogo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.imglogo .logo {
  display: flex;
  width: 259px;
  height: 242px;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .imglogo .logo {
    display: flex;
    width: 259px;
    height: 242px;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center;
  }
}


@media screen and (max-width: 320px) {
  .ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
/*grid*/
.grid-conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  overflow-x: auto;
  background-color: #F5F5DC;
}
@media screen and (max-width: 600px) {
  .grid-conteiner {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    overflow-x: auto;
  }
}
@media screen and (max-width: 320px) {
  .grid-conteiner {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
    overflow-x: auto;
  }
}
.grid-conteiner .galery-item {
  position: relative;
}
.grid-conteiner .galery-item .titlegaleria {
  position: absolute;
  bottom: 0;
  color: white;
  background: #333;
  width: 100%;
  margin: 0;
}
.grid-conteiner .galery-item .galery-img {
  width: 500px;
  height: 300px;
  object-fit: contain;
}
@media screen and (max-width: 600px) {
  .grid-conteiner .galery-item .galery-img {
    width: 300px;
    height: 200px;
    object-fit: contain;
  }
}
@media screen and (max-width: 320px) {
  .grid-conteiner .galery-item .galery-img {
    width: 300px;
    height: 200px;
    object-fit: contain;
  }
}
/* navbar*/
.ul {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  list-style: none;
  padding-left: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
@media screen and (max-width: 600px) {
  .ul {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content: center;
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
.ul .navbar {
  display: inline;
  text-align: center;
  font-family: Spinnaker, Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-variant: normal;
}
@media screen and (max-width: 600px) {
  .ul .navbar {
    text-align: center;
    padding-left: 5px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 5px;
    text-align: center;
    font-family: Spinnaker, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    font-variant: normal;
    overflow: hidden;
  }
}
@media screen and (max-width: 320px) {
  .ul .navbar {
    text-align: center;
    padding-left: 5px;
    display: block;
    padding-top: 6px;
    padding-bottom: 10px;
    font-size: 10px;
    text-align: center;
    font-family: Spinnaker, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    font-variant: normal;
    overflow: hidden;
  }
}
.ul .navbar .enlace {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-decoration: none;
  margin: 30px;
  text-align: center;
  color: black;
  border-radius: 1%;
}
@media screen and (max-width: 600px) {
  .ul .navbar .enlace {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-decoration: none;
    margin: 5px;
    text-align: center;
    color: black;
  }
}
/*fotos home*/
.index-conteinter {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  padding-top: 30px;
  padding-bottom: 45px;
}
@media screen and (max-width: 600px) {
  .index-conteinter {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    padding-top: 30px;
    padding-bottom: 45px;
  }
}
@media screen and (max-width: 320px) {
  .index-conteinter {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    padding-top: 30px;
    padding-bottom: 45px;
  }
}
.index-conteinter .imginicio {
  width: 400px;
  height: 400px;
  image-resolution: 1920px;
}
@media screen and (max-width: 600px) {
  .index-conteinter .imginicio {
    width: 640px;
    height: 258px;
    object-fit: contain;
  }
}
@media screen and (max-width: 320px) {
  .index-conteinter .imginicio {
    width: 300px;
    height: 160px;
    object-fit: contain;
  }
}

/*foto contacto*/
.contactoimg {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  padding-top: 15px;
}
@media screen and (max-width: 600px) {
  .contactoimg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    padding-top: 40px;
  }
}
@media screen and (max-width: 320px) {
  .contactoimg {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 20px;
  }
}
/*pag presupuesto*/
.presupuesto-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .presupuesto-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .presupuesto-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*presentacion/contacto*/
.parrafopress {
  font-size: 15px;
  font-style: oblique;
  font-size: 25px;
  font-style: initial;
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .parrafopress {
    font-size: 20px;
    font-style: initial;
    text-align: center;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 320px) {
  .parrafopress {
    font-size: 15px;
    font-style: initial;
    text-align: center;
    padding-bottom: 10px;
  }
}

.parrafos {
  font-size: 15px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

/* presentacion/presupuestos*/
.textpres {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 600px) {
  .textpres {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 320px) {
  .textpres {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.titleparrafos {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.fotoconteiner {
  display: flex;
  display: block;
}
@media screen and (max-width: 600px) {
  .fotoconteiner {
    width: 766px;
    height: 506px;
  }
}
section {
  display: block;
}
/*footer*/
.footers {
  background-color: #adb5bd;
  color: white;
}

#h1footer {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: white;
}
@media screen and (max-width: 600px) {
  #h1footer {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: white;
  }
}
@media screen and (max-width: 320px) {
  #h1footer {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: white;
  }
}

h1 {
  color: black;
  padding-left: 5px;
  padding-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  h1 {
    color: black;
    padding-left: 5px;
    padding-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    color: black;
    padding-left: 5px;
    padding-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
  }
}

h2 {
  text-align: center;
  text-decoration: underline;
  color: black;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 5px;
}
@media screen and (max-width: 600px) {
  h2 {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
@media screen and (max-width: 320px) {
  h2 {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 5px;
  }
}

h3 {
  color: black;
  padding-left: 5px;
  padding-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  h3 {
    color: black;
    padding-left: 5px;
    padding-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  h3 {
    color: black;
    padding-left: 5px;
    padding-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5px;
    text-align: center;
  }
}

.porfolioconteiner {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  .porfolioconteiner {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 320px) {
  .porfolioconteiner {
    display: flex;
    justify-content: space-around;
  }
}

.pfoot {
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 600px) {
  .pfoot {
    font-size: 10px;
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
@media screen and (max-width: 320px) {
  .pfoot {
    font-size: 10px;
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

#logoinsta {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
  border: 1px;
  top: 40px;
  left: 40px;
}
@media screen and (max-width: 320px) {
  #logoinsta {
    width: 20px;
    height: 21px;
    margin-bottom: 12px;
    padding-left: 18px;
  }
}

#logows {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
  border: 1px;
  top: 70px;
  left: 70px;
}
@media screen and (max-width: 320px) {
  #logows {
    width: 20px;
    height: 24px;
  }
}

.redesfooter {
  display: flex;
  display: inline;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .redesfooter {
    display: flex;
    display: inline;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .redesfooter {
    display: flex;
    display: inline;
    align-items: center;
  }
}
.redesfooter a {
  width: 15px;
  height: 60px;
}
@media screen and (max-width: 600px) {
  .redesfooter a {
    width: 57px;
    height: 18px;
  }
}
@media screen and (max-width: 320px) {
  .redesfooter a {
    width: 57px;
    height: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
